# Node / pacote
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / artefatos
dist/
coverage/

# Ambiente / segredos
.env
.env.*
!.env.example

# Vercel / locais
.vercel/
.DS_Store
.idea/
.vscode/

# SO / miscelânea
Thumbs.db

# Logs
*.log
.vercel
